.idea/
.env
__pycache__/
data_manager/__pycache__/

# ignore database for security perposes
data/movies.sqlite

#ignore TODO files
TODO.txt

#ignore log files
logs/app.log

#ignore more uploaded images
static/uploads/