<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movieland</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 class="rubik-puddles-regular">Movieland</h1>
        {% block pagename %}
        {% endblock %}
    </header>
    <nav>
        <a href="{{ url_for('home') }}">Home</a>
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('user_movies', user_id=current_user.id) }}">My Profile</a>
        {% endif %}
        <a href="{{ url_for('list_users') }}">Users</a>
        <a href="{{ url_for('list_movies') }}">Movies</a>
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
        <a href="{{ url_for('register') }}">Register</a>
        <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
    </nav>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages|length > 0 %}
        {% for category, message in messages %}
            <div class="flash-messages flash-{{ category }}">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
    <footer>
        <p>&copy; 2024 Movieland</p>
    </footer>
</body>
</html>