{% extends "base.html" %}

{% block pagename %}
    <h2>Home</h2>
{% endblock %}

{% block content %}
    {% if current_user.is_authenticated %}
    <h2 class="h2_home">Welcome to MovieLand, {{current_user.username}}!</h2>
    {% else %}
    <h2 class="h2_home">Welcome to MovieLand!</h2>
    {% endif %}
<div class="content_home">
    <p>Your personal movie hub for exploring, managing, and enjoying films.</p>
    <p>Here, you can:</p>
    <ul>
        <li><strong>Add Movies:</strong> Search and add your favorite movies from OMDb.</li>
        <li><strong>Manage Users:</strong> Create, update, and delete users in the app.</li>
        <li><strong>Movie Management:</strong> Associate movies with users, update their details, and remove them when needed.</li>
        <li><strong>Movie Collection:</strong> Keep track of all your movies in a personalized list.</li>
        <li><strong>Interactive Actions:</strong> Like, update, and delete movies with ease!</li>
    </ul>
    <p>Explore, organize, and keep your movie collection fresh and exciting!</p>
    <p>Read about all the detailed functionalities of the app in the 'Help' page!</p>
        </div>
{% endblock %}