{% extends "base.html" %}
{% block pagename %}
    <h2>{{ user.username }}'s Profile</h2>
{% endblock %}
{% block content %}
        <div class="user-grid">
                <div class="card user-card">
                    <img src="{{ url_for('static', filename='uploads/' + (user.profile_picture or 'default.png')) }}" 
                    alt="Profile Picture" class="profile-pic">
                    <h2>{{ user.username }}</h2>
                    <p><strong>ID:</strong> {{ user.id }}</p>
                <div class="actions">
                    <a href="{{url_for('user_movies', user_id=user.id)}}" class="btn view_btn">My Movies</a>
                    <a href="{{ url_for('update_user', user_id=user.id) }}" class="btn update-btn">Update Account</a>
                    <a href="{{ url_for('delete_user', user_id=user.id) }}" class="btn delete-btn">Delete Account</a>
    </div>
</div>
</div>
{% endblock %}