{% extends "base.html" %}
{% block pagename %}
    <h2>Update User</h2>
{% endblock %}
{% block content %}
<div class="form-container">
    <form method="POST" enctype="multipart/form-data">
        <label for="name">New Name:</label><br>
        <input type="text" id="name" name="name" value="{{ user.name }}" minlength="3" maxlength="20">
        <label for="password">New password:</label>
        <input type="password" id="password" name="password" minlength="6" maxlength="20">
        <label for="profile_picture">Profile Picture:</label>
        <input type="file" id="profile_picture" name="profile_picture">
        <button type="submit" name="remove_profile_picture" value="true" class="btn btn-rm">Remove Profile Picture</button>
        <br><br>
    <button type="submit" class="btn">Update User</button>
    </form>
</div>
{% endblock %}