{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block pagename %}
        <h3>Users</h3>
        {% endblock %}
{% block content %}
<h2>Users</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>
            <a href="{{ url_for('user_movies', user_id=user.id) }}" class="btn">View Movies</a>
            <a href="{{ url_for('update_user', user_id=user.id) }}" class="btn">Update</a>
            <a href="{{ url_for('delete_user', user_id=user.id) }}" class="btn btn-delete">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}