# Terraform state files
terraform.tfstate
terraform.tfstate.backup
*.tfstate*
*.tfvars

# Terraform working directory
.terraform/
.terraform.lock.hcl

# AWS credentials and configuration
*.pem
*.key
.aws/

# Logs and crash reports
crash.log
*.log

# Ignore any local override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore IDE-specific files
.vscode/
.idea/
*.iml
*.swp
.DS_Store

# Test files
main.tf.example